<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Smooth Ticket</title>
    </head>
    <body>  
        <header>
            <nav>
                <a>Smooth Ticket</a>
                <ul>
                    <li><a href="XXX">Iniciar Sesión</a></li>
                    <li><a href="XXX">Boletería</a></li>
                    <li><a href="XXX">Próximos Eventos</a></li>
                    <li><a href="XXX">Contactarnos</a></li>
                </ul>
            </nav>
        </header>
        <footer>
        </footer>
    </body>
</html>
